@page
@model CoreGymClub.Presentation.Pages.AboutModel
@{

}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

</head>

<body>

    <div class="container">



    <div class="super-container">

        @* SECTION 1 *@
        <div class="section" id="about-us-image">
            <div class="main-image-container">
                <h1 class="image-text-about-us" id="about-us-title">
                    OM OSS
                </h1>
            </div>
        </div>

        @* SECTION 2 *@
        <div class="section" id="text-section-about-us">

            <div class="container-about" id="philosophy">
                <div class="container-column-text" id="container-column-1">
                    <h2>
                        Filosofi
                    </h2>
                    <p>
                        På Gym Core Club tror vi på mer än bara träning 
                        – vi tror på balans mellan kropp och sinne. 
                        Vårt gym är byggt på värderingar om inkludering, 
                        gemenskap och välmående. Här ska alla känna sig välkomna, 
                        oavsett träningsnivå.
                    </p>
                </div>
                <div class="container-column-image" id="container-column-2">
                    <img src="images/about_us_values_2.png" alt="Filosofi Bild" />
                </div>
            </div>

            <div class="container-about" id="locale">
                <div class="container-column-image" id="container-column-3">
                    <img src="images/bastu_about_me_grönt.png" alt="Lokaler Bild" />
                </div>
                <div class="container-column-text" id="container-column-4">
                    <h2>
                        Lokaler
                    </h2>
                    <p>
                        Vi kombinerar effektiv fitness med avkoppling genom 
                        vårt spa- och wellnessutbud, för att du både ska nå 
                        resultat och må bra på vägen. Hos oss tränar du i en trygg, 
                        inspirerande miljö där du kan utvecklas i din egen takt.
                    </p>
                </div>
            </div>

            <div class="container-about" id="company">
                <div class="container-column-text" id="container-column-5">
                    <h2>
                        Företaget
                    </h2>
                    <p>
                        Gym Core Club är ett självständigt och lokalt ägt aktiebolag, 
                        som under de senaste åren haft stabil kundtillväxt. 
                        Företaget planerar att expandera till fler orter inom de 
                        kommande tre åren, med fokus på hållbarhet, digitala träningslösningar
                        och community-baserad träning.
                    </p>
                </div>
                <div class="container-column-image" id="container-column-6">
                    <img src="images/aboutus_values_long.png" alt="Företaget Bild" />
                </div>
            </div>
            
        </div>

        @* SECTION 3 *@
        <div class="section" id="testimonial-section">
            <div class="testimonial-card">
               <div class="star-row">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
               </div>
                <div class="testimonial-card-bottom">
                    <img src="images/person_1.png" alt="Företaget Bild" class="round-image" />
                    <p >Älskar detta gym! Hade grymt bra tränare</p>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="star-row">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="testimonial-card-bottom">
                    <img src="images/person_2.png" alt="Företaget Bild" class="round-image" />
                    <p>Bra service i restau- rangen!</p>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="star-row">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="testimonial-card-bottom">
                    <img src="images/person_3.png" alt="Företaget Bild" class="round-image" />
                    <p>Trevlig personal men lite dyrt!</p>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="star-row">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="testimonial-card-bottom">
                    <img src="images/person_4.png" alt="Företaget Bild" class="round-image" />
                    <p>Vem vill gå på ett sånt no-name gym?!!!</p>
                </div>
            </div>

        </div>

    


    </div>

    </div>

</body>

