@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}


<body>
    <div class="text-center">
        <h1 class="display-4">Core Gym</h1>
        <p>Välkommen till Core Gym!</p>

        <button class="sign-up-btn">
            Bli medlem
        </button>
    </div>


    <div class="infocards">
        <div class="infocard" id="infocard1">
            <h1>
                Bästa Gymmet Ever
            </h1>
            <p>
                Vi har den bästa utrustningen som finns!
            </p>
        </div>

        <div class="infocard" id="infocard2">
            <img src="images/gym.jpg" />
        </div>

        <div class="infocard" id="infocard3">
            <img src="images/gym.jpg" />
        </div>

        <div class="infocard" id="infocard4">
            <h1>
                Massor att göra
            </h1>
            <p>
                Vi erbjuder många olika aktiviteter.
            </p>
        </div>


        <div class="main-infocard">
            <h2>
                Adress
            </h2>
            <div class="adress">
                Programmeringsgatan 25
            </div>
            <div class="opening-hours">
                <h2>
                    Öppettider
                </h2>
                <p>
                    Måndag - Fredag: 06.00 - 20.00 <br />
                    Lördag: 08.00 - 20.00 <br />
                    Söndag: 08.00 - 18.00
                </p>
            </div>
        </div>


        <div class="infocard" id="infocard6">
            <img src="images/karta.png" width="500"/>
        </div>
    </div>

    <div class="membership-section">
        <h2>
            Medlemsskap
        </h2>

        <div class="membership-options">
            <div class="membership-option">
                <h3>
                    Enkelt
                </h3>
                <p>
                    Tillgång till gymmets alla maskiner
                </p>
            </div>
            <div class="membership-option">
                <h3>
                    Premium
                </h3>
                <p>
                    Allt som ingår i enkelt plus gymmets egna guide och lektioner
                </p>
            </div>
            <div class="membership-option">
                <h3>
                    Super Premium
                </h3>
                <p>
                    Allt som ingår i premium plus att du får välja musiken som spelas på högtalarna
                </p>
            </div>
        </div>
    </div>


</body>

