@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


}


<body>
    <div class="text-center">
        <h1 class="display-4">Group B Gym</h1>
        <p>Welcome to group B's gym!</p>

        <button class="sign-up-btn">
            Sign up
        </button>
    </div>


    <div class="infocards">
        <div class="infocard" id="infocard1">
            <h1>
                Lorem ipsum
            </h1>
            <p>
                Lorem ipsum dolor sit amet
            </p>
        </div>

        <div class="infocard" id="infocard2">
            <img src="images/gym.jpg" />
        </div>

        <div class="infocard" id="infocard3">
            <img src="images/gym.jpg" />
        </div>

        <div class="infocard" id="infocard4">
            <h1>
                Lorem ipsum
            </h1>
            <p>
                Lorem ipsum dolor sit amet
            </p>
        </div>
    </div>


</body>

