@page
@model CoreGymClub.Presentation.Pages.JoinMembershipModel

<div class="container">
    <h1>Payment Details</h1>

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-md-6">
                    <label asp-for="MembershipTypeId" class="form-label"></label>
                    <select asp-for="MembershipTypeId" class="form-control" asp-items="@Model.MembershipTypes"></select>
                    <span asp-validation-for="MembershipTypeId" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="MembershipStart" class="form-label"></label>
                        <input asp-for="MembershipStart" class="form-control" type="date" />
                        <span asp-validation-for="MembershipStart" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MembershipEnd" class="form-label"></label>
                        <input asp-for="MembershipEnd" class="form-control" type="date" />
                        <span asp-validation-for="MembershipStart" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreditCard.CardNumber"></label>
                    <input asp-for="CreditCard.CardNumber" class="form-control" />
                    <span asp-validation-for="CreditCard.CardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreditCard.NameOnCard"></label>
                    <input asp-for="CreditCard.NameOnCard" class="form-control" />
                    <span asp-validation-for="CreditCard.NameOnCard" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CreditCard.Expiration"></label>
                        <input asp-for="CreditCard.Expiration" class="form-control" placeholder="MM/YY" />
                        <span asp-validation-for="CreditCard.Expiration" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreditCard.CVV"></label>
                        <input asp-for="CreditCard.CVV" class="form-control" placeholder="CVV" />
                        <span asp-validation-for="CreditCard.CVV" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit Payment</button>
            </form>
        </div>
    </div>
</div>