<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreGymClub.Presentation</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreGymClub.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>

<body> @*GYM NARBAR *@
    <header class="navbarSection">
        <div class="navbarContainer">

            <div class="navbar-item">
                <a asp-area="" asp-page="/Index">
                    <img class="logo-A" src="/images/gym-icon.png" alt="My Logo" />
                </a>
            </div>
            <div class="navbar-item" id="navbar-workout">
                <a asp-page="/TrainingSessions/Index">Pass</a>
            </div>
            <div class="navbar-item" id="navbar-about">
                <a asp-page="/About">Om Oss</a>
            </div>
            <div class="navbar-item" id="navbar-login">
                <a asp-area="Identity" asp-page="/Account/Login">Logga In</a>
            </div>
            <div class="navbar-item" id="navbar-register">
                <a asp-area="Identity" asp-page="/Account/Register">Registrera</a>
            </div>

        </div>
    </header>
@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CoreGymClub.Presentation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@
@*     <div class="container"> *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
@*     </div> *@

@*     <footer class="border-top footer text-muted">
        <div class="container"> *@
            <div class="container-footer-style">
                <div id="weather-widget" class="weather-widget">
                    <span id="weather-icon">☁️</span>
                    <span id="temperature">--°C</span>
                </div>
                <div class="navbar-item p-white" data-lang="sv">
                    &copy; @DateTime.Now.Year Core Gym Club. Alla rättigheter förbehållna.
                </div>
            </div>
@*         </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/footer.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
