@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreGymClub.Presentation</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreGymClub.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
</head>

<body>

     <div class="page-wrapper">
 
        <header class="navbarSection">
            <div class="navbarContainer">

                <div class="navbar-item">
                    <a asp-area="" asp-page="/Index">
                        <img class="logo-A" src="/images/gym-icon.png" alt="My Logo" />
                    </a>
                </div>
                <div class="navbar-item" id="navbar-workout">
                    <a asp-page="/TrainingSessions/Index">Pass</a>
                </div>
                <div class="navbar-item" id="navbar-about">
                    <a asp-page="/About">Om Oss</a>
                </div>

                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="navbar-item" id="navbar-mypage">
                        <a asp-area="Identity" asp-page="/Account/Profile">Mina sidor</a>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="navbar-item" id="navbar-workout-list">
                            <a asp-page="/Admin/TrainingSessions/Index" class="d-inline">Training Sessions</a>
                        </div>
                        <div class="navbar-item" id="navbar-workout-list">
                            <a asp-page="/Admin/Members/Index" class="d-inline">Konton</a>
                        </div>

                        <div class="navbar-item" id="navbar-workout-list">
                            <a asp-page="/Admin/MembershipTypes/Index" class="d-inline">Medlemstyper</a>
                        </div>
                    }

                    <div class="navbar-item" id="navbar-logout">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                            <button type="submit" class="btn-link" style="background:none; border:none; color:inherit; cursor:pointer;">
                                Logga ut
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="navbar-item" id="navbar-login">
                        <a asp-area="Identity" asp-page="/Account/Login">Logga In</a>
                    </div>
                    <div class="navbar-item" id="navbar-register">
                        <a asp-area="Identity" asp-page="/Account/Register">Registrera</a>
                    </div>
                }

            </div>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer>
            <div class="container-footer-style">
                <div id="weather-widget" class="weather-widget">
                    <span id="weather-icon">☁️</span>
                    <span id="temperature">--°C</span>
                </div>
                <div class="navbar-item p-white" data-lang="sv">
                    &copy; @DateTime.Now.Year Core Gym Club. Alla rättigheter förbehållna.
                </div>
            </div>
        </footer> 

     </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/footer.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
