
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}

.container-footer-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    border-top: 3px solid darkorange;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 60px;

    position: static;
}


.weather-widget {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: darkorange;
}

#weather-icon {
    font-size: 1.5rem;
}
