body {
}

.navbarSection {
    z-index: 10;
    width: 80%;
    border: 3px solid orange;
    border-radius: 12px;
    position: fixed;
    top: 30px;
    left: 10%;
    background-color: black;
    padding: 5px;
    /*box-shadow:*/
    /*margin: 0 auto;*/
}

.navbarContainer {
    top: 30px;
    left: 10%; /*center it*/
    background-color: none;
    padding: 0px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
    /*box-shadow:*/
    /*margin: 0 auto;*/
}
.navbar-item a {
    color: darkorange;
    /* border: 3px solid gold;*/
    text-decoration: none;
    transition: color 0.3s ease;
}

    .navbar-item a:visited,
    .navbar-item a:link {
        color: darkorange;
    }

    .navbar-item a:hover {
        color: gold;
        /* border: 3px solid gold;*/
    }

.logo-A {
    width: 60px;
    height: auto;
    display: block;
}